<h1> EDIT Post </h1>

<%# this might not be defined in post controller %>
<%= @post.errors.full_messages.join(", ") %>

<%= form_for @post do |post| %>
  <div>
    <%= post.label :title %>
    <%= post.text_field :title %>
  </div>

  <div>
    <%= post.label :body %>
    <%= post.text_area :body %>
  </div>

  <%= post.submit %>
<% end %>
