<h2> Title: <%= @post.title %></h2>

<h3> Post Content: </h3>
<p> <%= @post.body %> </p>

<% if can? :edit, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
  <%= link_to "Delete", post_path(@post),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
<% end %>
<hr>

<h4>Add a Comment</h4>
<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %><li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@post, @comment] do |f| %>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
  <%= f.submit %>
<% end %>

<hr>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p> <%= comment.body %> </p>
<% end %>

  <% if can? :edit, @comment %>
    <%= link_to "Edit", edit_comment_path(@comment) %>
  <% end %>
  <% if can? :destroy, @comment %>
    <%= link_to "Delete", comment_path(@comment),
                          method: :delete,
                          data: {confirm: "Are you sure?"} %>
  <% end %>
